
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    font-family: 'Ubuntu', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    margin:        0;
}   
a{
    color: inherit;
    text-decoration: inherit;
}
li{
    list-style-type:    none;
}

header{
    display:                 flex;
    justify-content: space-around;
    align-items:           center;
    text-align:            center;
    background-color: black;
    color:            beige;
    height:  10vw;
    width:   inherit;
}
header div img{
    position: relative;
    left: -4vw;
}
header nav{
    width:  50vw;
    left:   50vw;
}

header ul{
    top:      0;
    right:    0;
    width: 50vw;
    position:            absolute;
    display:                 flex;
    justify-content: space-evenly;
}
header li{
    display:                  flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:    center;
    font-size: 0.7em;
    width:       7vw;
}
header li img{
    width:  5vw;
}
.headBanner img{
    width:  100%;
    height: auto;
}

.s1{
    display: flex;
    flex-direction:           row;
    justify-content: space-evenly;
}
.s1 h2{
    font-size:    2em;
    font-weight:  400;
}
.s1 p{
    font-weight: 500;
}
.s1 img{
    width:       20vw;
    padding: 2rem 6rem;
}
.s1 article{
    padding: 2rem 6rem;
}


.s2{
    padding: 2rem;
    background-color: rgb(37, 57, 78);
    color:                      beige;
}
.s2-top{
    display:                 flex;
    justify-content: space-evenly;
    align-items:           center;
    padding-bottom: 2rem;
    font-size:    1.8em;
    font-weight:    300;
    line-height: 1.6rem;
}
.s2-top img{
    width:  15vw;
}

.s2-cards{
    display:                  flex;
    justify-content: space-between;
    margin: 0 4rem;
 }
 .s2-cards h3{
     font-size:   2em;
     font-weight: 400;
 }
.s2-cards div{
    display:                  flex;
    flex-direction:         column;
    justify-content: space-between;
    align-items:            center;
    text-align:             center;
    width: 20vw;
}
.s2-cards img{
    width: 17vw;
}
.s2 button{
    background-color: rgb(218, 218, 218);
    color:                         black;
    border:  none;
    width:    95%;
    height:  2rem;
}


.s3{
    padding: 2rem;
}
.s3-top{
    display:                  flex;
    justify-content:  space-evenly;
    align-items:            center;
    padding-bottom: 2rem;
    font-size:     1.8em;
    font-weight:     100;
}
.s3-top img{
    width:    11vw;
    margin:    2vw;
}
.s3-top h2{
    width: 42%;
}

.s3-cards{
    display:                 flex;
    justify-content: space-around;
}
.s3-cards div{
    text-align:                   center;
    display:                        flex;
    flex-direction:               column;
    justify-content:       space-between;
    align-items:                  center;
    width: 20vw;
}
.s3-cards img{
    max-width: 17vw;
}


.s3 button{
    background-color: rgb(33, 35, 43);
    color:                      beige;
    border:  none;
    width:    95%;
    height:  2rem;
}



footer{
    background-color: rgb(33, 35, 43);
    color:                      beige;
    display:                 flex;
    justify-content: space-evenly;
    padding:        1rem;
    padding-bottom: 4rem;
    overflow: hidden;
}
.foot-flex{
    width: 85vw;
    display:                  flex;
    justify-content: space-between;
}
footer section{
    margin: 0 2em;
}
footer img{
    width:       3.5rem;
    padding: 0 1rem 0 0;
}

footer span{
    position: relative;
    width: 2em;
    top:  9rem;
    right:   0;
}